---
// RadioWave.astro - Composant qui affiche une animation d'ondes radio
---

<div class="flex items-center gap-2 md:justify-start justify-center">
  <span class="inline-block w-[3px] h-[15px] bg-[#333] rounded-sm wave-1"></span>
  <span class="inline-block w-[3px] h-[25px] bg-[#333] rounded-sm wave-2"></span>
  <span class="inline-block w-[3px] h-[35px] bg-[#333] rounded-sm wave-3"></span>
  <span class="inline-block w-[3px] h-[20px] bg-[#333] rounded-sm wave-4"></span>
</div>

<style>
  @keyframes wave {
    0%, 100% { transform: scaleY(0.5); }
    50% { transform: scaleY(1); }
  }

  .wave-1 {
    animation: wave 1s infinite;
  }

  .wave-2 {
    animation: wave 1s infinite 0.2s;
  }

  .wave-3 {
    animation: wave 1s infinite 0.4s;
  }

  .wave-4 {
    animation: wave 1s infinite 0.6s;
  }
</style> 